<!-- Inherits from base template-->
{% extends 'base.html' %}

{% load static %}

{% block title %}Blog - Dj Online Store{% endblock %}

{% block content %}

{% for item in posts %}

    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{item.image.url}}" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Post</span>
              <span class="section-heading-lower">{{item.title}}</span>
            </h2>
            <p class="mb-3">
              {{item.content}}
            </p>
            <div style="text-align: left; font-size: 0.8em;">
                Author:&nbsp;<strong>{{item.author|title}}</strong>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endfor %}
<section>
    <div style="width:75%; margin:auto; text-align:center; color:white;">
        Categories
        {% for item in posts %}
            {% for subitem in item.categories.all %}
        &nbsp;&nbsp;&nbsp;<a href="{% url 'Category' subitem.id %}">{{subitem.name}}</a>
            {% endfor %}
        {% endfor %}
    </div>
</section>
{% endblock %}