<!-- Inherits from base template-->
{% extends 'base.html' %}

{% load static %}

{% block title %}Dj Online Store{% endblock %}

{% block content %}

    {% for item in services %}

    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{item.image.url}}" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Service</span>
              <span class="section-heading-lower">{{item.title}}</span>
            </h2>
            <p class="mb-3">
              {{item.content}}
            </p>
          </div>
        </div>
      </div>
    </section>

    {% endfor %}

{% endblock %}